/* General Styles */
:root {
  --primary-color: rgb(70, 130, 180);
  --secondary-color: rgb(4, 46, 82);
  --white-color: white;
  --whitesmoke-color: whitesmoke;
  --font-size-large: 24px;
  --border-radius: 20px;
}

.App {
  width: 100%;
}

/* Home Page Styles */
.HomePage {
  color: var(--secondary-color);
  justify-content: center;
}

/* Header Styles */
.Header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
}

input {
  font-size: var(--font-size-large);
}

.Logo {
  width: 100px;
  height: 50px;
  background-color: var(--whitesmoke-color);
}

.Search {
  width: 300px;
  height: 40px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  margin-top: 5px;
}

.input {
  width: 300px;
  height: 40px;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: inset 2px 2px 10px 3px var(--primary-color);
}

/* Navigation Styles */
.Navigation {
  display: flex;
  gap: 30px;
  align-items: center;
}

ul {
  list-style: none;
}

.Navigation a {
  color: var(--white-color);
  font-weight: bold;
}

/* Show Styles */
.Show {
  display: block;
  width: 200px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
}

.Show h2 {
  text-align: center;
}

.Show-image {
  width: 100%;
}

/* Show List Styles */
.ShowList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 10em;
  justify-content: center;
  justify-items: center;
}

/* Show Page Styles */
.ShowPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
